@page "/"
@using CharityScanWebApp.Helpers;
@inject JsHelperService JS;

<PageTitle>CharityScan - Home</PageTitle>

NavMenu on top (Requirement)

MastHead mit schneller erklärung (links)

<h1>Hier was schönes einfügen :)</h1>

Wie funktionierts 
       V

- Sections
-Footer
