@page "/volunteer"
@using System.Net;
@using CharityScanWebApp.Helpers;
@using CharityScanWebApp.Services;
@using Microsoft.JSInterop.Implementation;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using CharityScanWebApp.Entities;
@using System.Text.RegularExpressions;
@inject ProtectedSessionStorage SessionStorage;
@inject NavigationManager uriHelper;
@inject JsHelperService JsHelper;
@inject BarcodeReaderService readerService;
@inject APIService api;
@inject SessionService session;

<PageTitle>Volunteering</PageTitle>

<div id="qr-reader" style="width: 100%"></div>

@code {

    // Pass the handler to httpclient(from you are calling api)
    HttpClient client = new HttpClient(new HttpClientHandler()
        {
            ServerCertificateCustomValidationCallback = (sender, cert, chain, sslPolicyErrors) => { return true; }
        })
    {
        BaseAddress = new Uri("https://130.61.142.115/api/v1/")
        //BaseAddress = new Uri("https://192.168.50.5/api/v1/")
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (!firstRender) return;

            await readerService.StartAsync(nameof(QrCodeCallback), this);
        }
        catch (Exception ex)
        {
            System.Console.WriteLine(ex.Message);
        }
    }

    [JSInvokable]
    public async Task QrCodeCallback(string result)
    {

        // TODO: VisualFeedback Sweet BlazorBootstrap

        try
        {
            System.Console.WriteLine(result);

            if (Regex.Match(result, @"^\d{6}-[A-Z]{2}-\d{4}-\d{4}$").Success)
            {
                await RegisterAsVolunteerAsync(result);
                return;
            } 
            else if(!await session.IsVolunteer())
            {
                await readerService.ShowError("Bitte zuerst als Helfer registrieren!");
                return;
            }


            await ProcessLapAsync(result);
        }
        catch (Exception)
        {

            throw;
        }
        finally
        {
            await readerService.ResumeAsync();
        }
    }

    public async Task RegisterAsVolunteerAsync(string barcode)
    {
        try
        {
            var s = await client.GetFromJsonAsync<List<EventCode>>("eventcodes?value=" + barcode);

            if (s == null || !s.Any())
                return;

            await session.RegisterVolunteer(s.First().EventId);

            await readerService.ShowSuccess("Erfolgreich angemeldet");
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await readerService.ShowError("Dieses Event wurde nicht gefunden!");
        }
    }

    public async Task ProcessLapAsync(string barcode)
    {
        try
        {
            int eventId = await session.GetEventId();
            bool success;

            // To ensure its for the same event. Otherwise treat it as a regular code
            if (barcode.StartsWith(eventId.ToString()) && barcode.EndsWith("-SCAN"))
            {
                string nr = await JsHelper.Prompt("Bitte Startnummer eingeben:");
                success = await api.AddLapToEventAsync(eventId, barcode, nr);
            }
            else
            {
                // add into database
                success = await api.AddLapToEventAsync(eventId, barcode);
            }

            await readerService.ShowModal(success, "", "Bitte nochmal probieren");

        }
        catch (Exception ex)
        {
            System.Console.WriteLine(ex);
            await readerService.ShowError("Bitte nochmal probieren");
        }

    }
}
