@page "/volunteer"
@using System.Net;
@inject IJSRuntime JS
@using ReactorBlazorQRCodeScanner
@using BlazorBarcodeScanner.ZXing.JS

<PageTitle>QR READER</PageTitle>

<div id="qr-reader" style="height: 50%;width: 100%"></div>
<div id="qr-reader-results"></div>

@*<BlazorBarcodeScanner.ZXing.JS.BarcodeReader Title="Scan Barcode from Camera"
                                             StartCameraAutomatically="true"
                                             ShowVideoDeviceList="false"
                                             ShowStart="false"
                                             ShowReset="false"
                                             ShowResult="true"
                                             ShowToggleTorch="false"
                                             OnBarcodeReceived="LocalReceivedBarcodeText" />

@code {
    private string LocalBarcodeText;

    private void LocalReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        this.LocalBarcodeText = args.BarcodeText;
        Console.WriteLine("Decoded Barcode: " + LocalBarcodeText);
        StateHasChanged();
    }
}*@

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
            await JS.InvokeVoidAsync("loadScanner");
    }
}
