@if (IsBusy.IsLoading)
{
    <div class="swal">
        <!--!--><div class="modal fade show" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" id="bb_41675298" aria-modal="true" style="display: block;">
            <!--!--><!--!--><div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <!--!--><!--!--><div class="modal-body">
                        <!--!--><div class="swal2-header">
                            <div class="swal2-icon">
                                <BootstrapBlazor.Components.Spinner style="width: 5em; height: 5em;" />
                            </div><h2 class="swal2-title">Bitte warten...</h2>
                        </div><div class="swal2-content d-flex"></div><div class="swal2-actions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private static bool _isLoading;
    public static bool IsLoading
    {
        get => _isLoading;
        set
        {
            _isLoading = value;
            OnStateChanged(null, EventArgs.Empty);
        }
    }

    public IsBusy()
    {
        OnStateChanged += (source, e) =>
        {
            this.InvokeAsync(() => this.StateHasChanged());
        };
    }

    public static event EventHandler OnStateChanged = delegate { };
}