@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>CharityScan - Home</PageTitle>

<div class="page">
    <MudThemeProvider/>
    <MudDialogProvider />
    <MudSnackbarProvider />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>
