@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>CharityScan - Home</PageTitle>

<div style="height: calc(100vh - 3.5em);">
    <MudThemeProvider/>
    <MudDialogProvider />
    <MudSnackbarProvider />
    
    <NavMenu />

    <main style="height: 100%">
        @Body
    </main>
</div>
