@inherits LayoutComponentBase

<PageTitle>CharityScanWebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4" sytle="height: 100vh">
            @Body
        </article>
    </main>
</div>
